/*=======  FAQ Looop  =======*/
.faq-section {
  position: relative;
  z-index: 1;
}

.faq-section .faq-content {
  padding: 50px;
  // background-color: #f5f5f5;
  &::before {
    position: absolute;
    left: 0;
    top: 0;
    content: '';
    height: 940px;
    width: 940px;
    border-radius: 50%;
    background-color: $red;
    opacity: 0.1;
    z-index: -1;
    transform: translate(-285px, -50%);

    @media #{$md} {
      height: 600px;
      width: 600px;
    }

    @media #{$sm} {
      height: 500px;
      width: 500px;
    }
  }
}

@media (max-width: 1199px) {
  .faq-section .faq-content {
    padding-left: 0;
  }
}

.faq-section .faq-loop.accordion .card {
  border: none;
  margin-top: 10px;
  border-radius: 0;
  display: flex;
  flex-wrap: wrap;
}

.faq-section .faq-loop.accordion .card .card-header {
  padding: 0;
  border: none;
  background-color: #fff;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  margin-bottom: 0;
  width: 100%;
  flex-basis: 100%;
  order: 1;
}
.faq-section .faq-loop.accordion .collapseparent {
  order: 2;
}
.faq-section .faq-loop.accordion .card .card-header button,
.faq-section .faq-loop.accordion .card .card-header h6 {
  font-size: 18px;
  padding: 20px 40px 20px 30px;
  cursor: pointer;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  position: relative;
  color: #14212b;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 700;
  width: 100%;
  display: block;
  text-align: left;
}

@media (max-width: 575px) {
  .faq-section .faq-loop.accordion .card .card-header button,
  .faq-section .faq-loop.accordion .card .card-header h6 {
    padding: 20px 30px 20px 20px;
  }
}
.faq-section .faq-loop.accordion .card .card-header button span.icons,
.faq-section .faq-loop.accordion .card .card-header h6 span.icons {
  position: absolute;
  right: 30px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.faq-section
  .faq-loop.accordion
  .card
  .collapseparent.show
  + .card-header
  button
  span.icons
  > i:before {
  content: '\f068';
}
@media (max-width: 575px) {
  .faq-section .faq-loop.accordion .card .card-header button span.icons,
  .faq-section .faq-loop.accordion .card .card-header h6 span.icons {
    right: 20px;
  }
}

.faq-section .faq-loop.accordion .card .collapseparent.show + .card-header,
.faq-section .faq-loop.accordion .card .card-header.active-header,
.faq-section .faq-loop.accordion .card .card-header:hover {
  background-color: $red;
}

.faq-section
  .faq-loop.accordion
  .card
  .collapseparent.show
  + .card-header
  button,
.faq-section .faq-loop.accordion .card .card-header:hover button,
.faq-section .faq-loop.accordion .card .card-header.active-header h6,
.faq-section .faq-loop.accordion .card .card-header:hover h6 {
  color: #fff;
  text-decoration: none;
}

.faq-section .faq-loop.accordion .card .card-body {
  padding: 0 40px 20px 30px;
  font-size: 15px;
  line-height: 1.4;
  background-color: $red;
  color: #fff;
}

@media (max-width: 575px) {
  .faq-section .faq-loop.accordion .card .card-body {
    padding: 0 30px 20px 20px;
  }
}

.faq-section .faq-loop.accordion.grey-header .card .card-header {
  background-color: #f5f5f5;
}

.faq-section
  .faq-loop.accordion.grey-header
  .card
  .collapseparent.show
  + .card-header,
.faq-section .faq-loop.accordion.grey-header .card .card-header.active-header,
.faq-section .faq-loop.accordion.grey-header .card .card-header:hover {
  background-color: $secondary-color;
}

.faq-section .faq-loop.accordion.border-style .card .card-header {
  background-color: #fff;
  border: 2px solid #eaeaea;
}

.faq-section
  .faq-loop.accordion.border-style
  .card
  .collapseparent.show
  + .card-header,
.faq-section .faq-loop.accordion.border-style .card .card-header.active-header,
.faq-section .faq-loop.accordion.border-style .card .card-header:hover {
  background-color: #fff;
}

.faq-section .faq-loop.accordion.border-style .card .card-header:hover button,
.faq-section
  .faq-loop.accordion.border-style
  .card
  .collapseparent.show
  + .card-header
  button,
.faq-section
  .faq-loop.accordion.border-style
  .card
  .card-header.active-header
  h6,
.faq-section .faq-loop.accordion.border-style .card .card-header:hover h6 {
  color: #14212b;
}

.faq-section
  .faq-loop.accordion.border-style
  .card
  .collapseparent.show
  + .card-header,
.faq-section .faq-loop.accordion.border-style .card .card-header.active-header {
  border-color: #ff4a17;
  border-bottom-color: transparent;
}

.faq-section .faq-loop.accordion.border-style .card .card-body {
  background-color: #fff;
  color: #616161;
  border-left: 2px solid #ff4a17;
  border-right: 2px solid #ff4a17;
  border-bottom: 2px solid #ff4a17;
}

.faq-section.with-illustration .faq-illustration-img {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  right: calc(50% + 15px);
}

@media (max-width: 1199px) {
  .faq-section.with-illustration .faq-illustration-img {
    right: calc(50% + 30px);
  }
}

@media (max-width: 991px) {
  .faq-section.with-illustration .faq-illustration-img {
    position: unset;
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
    margin: 0 auto 50px;
    max-width: 550px;
  }
}

@media (max-width: 767px) {
  .faq-section.with-illustration .faq-illustration-img {
    max-width: 450px;
  }
}

.faq-section.with-shape::before {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 370px;
  height: 330px;

  content: '';
  background-size: cover;
  z-index: -1;
}

@media (max-width: 767px) {
  .faq-section.with-shape::before {
    width: 250px;
    height: 220px;
  }
}

.faq-section.with-shape .circle-img {
  background-size: cover;
  background-position: center;
  height: 270px;
  width: 270px;
  position: absolute;
  right: 160px;
  top: 130px;
  z-index: -1;
  border-radius: 50%;
  -webkit-box-shadow: 0px 10px 60px 0px rgba(104, 102, 102, 0.34);
  box-shadow: 0px 10px 60px 0px rgba(104, 102, 102, 0.34);
}

@media (max-width: 1800px) {
  .faq-section.with-shape .circle-img {
    right: 4%;
  }
}

@media (max-width: 1599px) {
  .faq-section.with-shape .circle-img {
    display: none;
  }
}
